<!doctype html>
<html>
  <head>
    <title>Vinicius ❤️ Taiana</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1>Vinicius ❤️ Taiana</h1>

    <h2 id="contador"></h2>

    <a href="/login">Área do Casal</a>

    <div class="galeria">
      {% for foto in fotos %}
      <img src="{{ foto[0] }}" onclick="abrirFoto(this.src)" />
      {% endfor %}
    </div>

    <!-- Modal da Foto -->
    <div id="modal" class="modal">
      <span class="fechar" onclick="fecharFoto()">&times;</span>
      <img id="fotoAmpliada" />
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
